<nav class="navbar navbar-expand navbar-dark bg-dark" style="margin-bottom: 2em;">
    <a class="navbar-brand" routerLink="/">Academia</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/train" class="nav-link">Treino</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/completed-weeks" class="nav-link">Semanas completas</a>
        </li>
        <li class="nav-item mr-2" routerLinkActive="active">
            <a routerLink="/about" class="nav-link">Sobre</a>
        </li>
    </ul>
</nav>