<form class="card" style="padding: 1.5em; margin-bottom: 2em;" (ngSubmit)="onAddItem(f)" #f="ngForm">

    <div class="row">
      <div class="col">
          <label for="name">Exercício</label>
          <input 
            id="name"
            class="full-input" 
            type="text"
            name="name"
            ngModel>
      </div>
      <div class="col">
          <label for="seriesNumber">Nº. Séries</label>
          <input 
            id="seriesNumber"
            class="full-input" 
            type="text" 
            maxlength="2"
            name="seriesNumber"
            ngModel>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <fieldset>
          <legend style="font-size: 1.0rem">Nº Repetições</legend>
          <div class="row">
              <div class="col">
                <input
                  type="text" 
                  maxlength="2" 
                  class="full-input"
                  placeholder="Mínimo"
                  name="minRepsNumber"
                  ngModel>
              </div>
              <div class="col">
                <input
                  type="text" 
                  maxlength="2" 
                  class="full-input"
                  placeholder="Máximo"
                  name="maxRepsNumber"
                  ngModel>
              </div>
          </div>
        </fieldset>
      </div>
      <div class="col">
        <label for="weightInput">Nº. Peso</label>
        <input 
          id="weight"
          type="text" 
          maxlength="3" 
          class="full-input"
          name="weight"
          ngModel>
      </div>
    </div>

    <div class="row">
      <button 
        class="btn" 
        style="font-size: 18px; margin: auto;"
        type="submit">
        Adicionar
      </button>
    </div>

</form>