<div class="row">
  <button class="btn" (click)="onAddClick()">
    <fa-icon class="fa-2x green" [icon]="faPlusSquare"></fa-icon>
  </button>
</div>

<form *ngIf="adding">
  <div class="panel panel-default" style="padding: 1.5em 0.5em;">
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-12">
          <label for="exerciseInput">Exercício</label>
        </div>
        <div class="col-md-12">
          <input #exerciseInput type="text" style="width: 80%">
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-12">
          <label for="seriesNumberInput">Nº. Séries</label>
        </div>
        <div class="col-md-12">
          <input #seriesNumberInput type="text" maxlength="2" size="2">
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <label for="repsNumber" style="font-weight: bold; text-align: center;">Nº Repetições</label>
        </div>
        <div #repsNumber class="col-md-12">
          <div class="col-md-5">
            <label for="minRepsInput">Mínimo</label>
            <input #minRepsInput type="text" maxlength="2" size="2" class="side-input">
          </div>
          <div class="col-md-5">
            <label for="maxRepsInput">Máximo</label>
            <input #maxRepsInput type="text" maxlength="2" size="2" class="side-input">
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-12">
          <label for="weightInput">Nº. Peso</label>
        </div>
        <div class="col-md-12">
          <input #weightInput type="text" maxlength="3" size="3">
        </div>
      </div>
    </div>
  </div>
</form>
