<div class="container">

    <div class="card-deck">
        <div class="card day-choose" *ngFor="let trainDay of trainDays" (click)="onDayClick(trainDay)">
            <div class="card-header">{{ trainDay.weekDay }}</div>
            <div class="card-body">
                <span *ngFor="let grouping of trainDay.groupings"> {{ grouping }} <br></span>
            </div>
        </div>
    </div>
    
    <ng-container *ngIf="shownTrainDay">
        <app-train-day [trainDay]="shownTrainDay"></app-train-day>
    </ng-container>
</div>