<div class="container">
    <div style="padding: auto;">
        <div *ngFor="let trainDay of trainDays" class="day-box" (click)="onDayClick(trainDay)">
            <div class="card" style="min-height: 13em">
              <div class="card-header">{{ trainDay.weekDay }}</div>
              <div class="card-body" style="padding-top: 0.6em">
                <span *ngFor="let grouping of trainDay.groupings"> {{ grouping }} <br></span>
              </div>
            </div>
          </div>
    </div>
    
    <ng-container *ngIf="shownTrainDay">
        <app-train-day [trainDay]="shownTrainDay"></app-train-day>
    </ng-container>
</div>