<hr>
<h2> 
    {{ trainDay.weekDay }}<span *ngIf="!isWeekend()">-feira</span>
</h2>

<div style="padding-top: 1em; float: left">
    <p-multiSelect 
        defaultLabel="Selecione os grupamentos..."
        [options]="groupingOptions"
        [(ngModel)]="trainDay.groupings"
        selectedItemsLabel="{0} grupamentos selecionados"
        (onChange)="onEditGroupings($event)"
    ></p-multiSelect>
</div>
<app-train-day-options [trainDayId]="trainDay.id"></app-train-day-options>

<app-train-day-table
    [trainDayId]="trainDay.id"
    [exercises]="trainDay.exercises" 
></app-train-day-table>