<h2> 
    {{ trainDay.weekDay }} - 
    <span *ngFor="let grouping of trainDay.groupings; last as isLast">
        <ng-template #notLast>{{ grouping }} / </ng-template>
        <span *ngIf="isLast; else notLast">{{ grouping }}</span>
    </span>
</h2>
<app-add-exercise (exerciseAdded)="onExerciseAdded($event)"></app-add-exercise>
<table class="table table-striped table-bordered">
    <thead>
        <th>Exercício</th>
        <th>Nº. Séries</th>
        <th>Nº. Repetições</th>
        <th>Peso</th>
    </thead>
    <tbody>
        <tr *ngFor="let exercise of trainDay.exercises">
            <td>{{ exercise.name }}</td>
            <td>{{ exercise.seriesQuantity }}</td>
            <td>{{ exercise.repetitions.min }} a {{ exercise.repetitions.max }}</td>
            <td>{{ exercise.weight? exercise.weight : '' }}</td>
        </tr>
    </tbody>
</table>