<hr>
<h2> 
    {{ trainDay.weekDay }}<span *ngIf="diaDeFeira()">-feira</span>
</h2>

<div style="padding-top: 1em; float: left">
    <p-multiSelect 
        defaultLabel="Selecione os grupamentos..."
        [options]="groupingOptions"
        [(ngModel)]="trainDay.groupings"
        selectedItemsLabel="{0} grupamentos selecionados"
    ></p-multiSelect>
</div>
<app-train-day-options [trainDayId]="trainDay.id"></app-train-day-options>

<app-train-day-table 
    [exercises]="trainDay.exercises" 
    (exerciseDeleted)="onDeleteExercise($event)"
></app-train-day-table>